<!DOCTYPE html>
<html>
<head>
  <title>OdinFlickrApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>
<%= render 'layouts/flash' %>


<div class="container" id="content">
  <div class="row">
    <div class="col-md-4">
<%= yield %>
    </div>
  </div>
</div>
</body>
</html>
